@model PIMPER.Models.IngredientTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IngredientTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitTable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitTable.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantitiesTable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantitiesTable.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
